html, body {
  height: 100%;
  width: 100%;
}

a:link {
  text-decoration: none; 
}

a:visited {
  text-decoration: none; 
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.school-search-form, #school-search-form {
  float: right;
  padding: 7px 7px 7px 7px;
  background-color: #f9f7ee;
}

.school-search {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.school-search-button {
  padding-left: 10px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 25px;
}

.school-details {
  text-align: center;
  padding-top: 10px;
}

.school-details-table {
  margin-left: auto;
  margin-right: auto;
}

.school-detail {
  font-weight: bold;
  text-align: left;
}

.admin-title {
  text-align: center;
}

#navbar-container {
  width: 100%;
  height: 5%;
  background-color: #f9f7ee;
  position: absolute;
  top: 0%;
  left: 0%;
}

.nav-bar {
  display: inline;
  text-align: right;
  float: right;
  padding-right: 10px;
  font-size: 12.5pt;
  margin: 10px 0px 10px;
}

.nav-bar, #logo {
  float: left;
  padding-left: 10px;
}

.nav-bar, #navigation {
  float: right;
}

.nav-bar li{
  display: inline;
}

.outlet-container {
  width: 100%;
  height: 95%;
  position: absolute;
  top: 5%;
}

.ember-view, #map {
  width: 100%;
  height: 100%;
}

.pass-rate-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.pass-rate-info {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.pass-rate-info li {
  font-size: 16px;
  padding:0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.pass-rate-info li div {
  display: block;
  width: 100px;
  padding-right: 10px;
  float: left;
  text-align: right;
}

 .pass-rate-info li .description, .pass-rate-info li strong {
  display: block;
  float: left;
  text-align: left;
}

.banner {
  position: absolute;
  top: 0%;
  left: 50%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
  padding-top: 2px;
  margin-top: 5px; 
}

.contributeBanner{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 60%;
  text-align: left;
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
  padding-top: 2px;
}

.twitterFeed {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 30%;
  text-align: left;
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
  padding-top: 2px; 
}

.leaflet-top.leaflet-left {
  display: none;
}
.leaflet-control-zoom {
  left: -23px;
}
.popup-content {
  padding:0;
}
.popup-content li {
  list-style:none;
}

.legend {
  position: absolute;
  bottom: 65%;
  left: 1%;
  width: 35%;
  text-align: center;
}

.legend table {
  border-style: solid;
  border-radius: 1px; 
  border-width: 1px;
  border-color: black;
}

#colour-1 {
  /*color: #47A103;*/

  color: #FF2B12;  
}

#colour-2 {
  /*color: #E8DA04;  */

  color: #E86605;
}

#colour-3 {
  color: #FFB707;  
}

#colour-4 {
  /*color: #E86605;  */

  color: #E8DA04;
}

#colour-5 {
  /*color: #FF2B12;*/

  color: #47A103;  
}














