<div class="admin" class="map-canvas">
	<h1 class="admin-title">Search Schools</h1>
	<form class="school-search-form">
		<table>
			<tr>
				<td class="school-name-input">{{input valueBinding="schoolNameSearch" type="text" size="50" maxlength="50" placeholder="School Name"}}</td>
				<td class="school-search-button"><button {{action 'filterByName'}}>Search School</button></td>
			</tr>
		</table>
	</form>

	{{#if performedSchoolSearch}}
		{{#if schoolNameFound}}
			<div class="school-details" id="school-name-found">
				<h2>School Details</h2>
				<p>The name of the school you searched for is: {{schoolNameFound}}</p>
			</div>
		{{else}}
			<div class="school-details" id="school-name-not-found">
			<h3>No schools with this name were found</h3>
		{{/if}}
	{{/if}}
</div>

