{{#view Frontend.NavBarView}}
	<div id="nav-bar-container">
		<ul id='navigation' class='nav-bar'>
			<p>Schools Administration</p>
			{{#link-to 'search'}}Search Schools{{/link-to}}
      <li class="link-separator">|</li>
      {{#link-to 'create'}}Create School{{/link-to}}
      <li class="link-separator">|</li>
      {{#link-to 'upload'}}Uploads{{/link-to}}
		</ul>
	</div>
{{/view}}
