<div class="contributeBanner">
  <div class="contributeMessage">We have managed to give an accurate visualisation of the matric results on a national view. However, there is so much more this system can do given a little more time and money.<br/>To contribute in any way please contact us <a href="mailto:Nina@jandjgroup.com">here</a></div>
</div>