<ul class="pass-rate-info">
   <li id="students-pass-rate">
     <div class="students-pass-rate"></div>
   </li>
   <li id="students-wrote">
     <div class="students-wrote"></div>
   </li>
   <li id="students-passed">
     <div class="students-passed"></div>
   </li>
</ul>

<ul class="pass-rate-info">
  <li id="number-of-boys">
     <div class="number-of-boys"></div>
   </li>
   <li id="number-of-girls">
     <div class="number-of-girls"></div>
   </li>
   <li id="total-toilets">
     <div class="total-toilets"></div>
   </li>
   <li id="running-water-percentage">
     <div class="running-water-percentage"></div>
   </li>
</ul>

<div class="banner">
  <div class="country"></div>
  <div class="matric-year"></div>
  <div class="sanitation-year"></div>
  <div class="title"></div>
</div>

