<ul class="pass-rate-info">
   <li>
     <div class="students-pass-rate"></div>
     <span class="description">% students passed</span>
   </li>
   <li>
     <div class="students-wrote"></div>
     <span class="description">students wrote</span>
   </li>
   <li>
     <div class="students-passed"></div>
     <span class="description">students passed</span>
   </li>
   <li>
     <div class="number-of-boys"></div>
     <span class="description">boys #</span>
   </li>
   <li>
     <div class="number-of-girls"></div>
     <span class="description">girls #</span>
   </li>
   <li>
     <div class="total-toilets"></div>
     <span class="description">total toilets</span>
   </li>
   <li>
     <div class="sanitation-plan"></div>
     <span class="description">sanitation plan</span>
   </li>
   <li>
     <div class="construction"></div>
     <span class="description">construction</span>
   </li>
   <li>
     <div class="running-water"></div>
     <span class="description">running water</span>
   </li>
</ul>

<div class="banner">
  <div class="country"></div>
  <div class="matric-year"></div>
  <div class="sanitation-year"></div>
  <div class="title"></div>
</div>

