<ul class="pass-rate-info">
   <li>
     <div class="students-pass-rate"></div>
     <span class="description">% students passed</span>
   </li>
   <li>
     <div class="students-wrote"></div>
     <span class="description">students wrote</span>
   </li>
   <li>
     <div class="students-passed"></div>
     <span class="description">students passed</span>
   </li>
 </ul>

<div class="banner">
  <div class="title"></div>
  <div class="year">Matric Results 2013</div>
</div>

