<div id="map"></div>
{{#view Frontend.MapView}}{{/view}}
{{#view Frontend.SouthAfricaOverlayView}}{{/view}}

<div class="south-africa">
  <div class="region">{{name}}</div>
  <div class="year">2012</div>

  <ul class="pass-rate-info">
    <li>
      <div class="students-passed-percent odometer"></div>
      <span class="description">% students passed</span>
    </li>
    <li>
      <div class="students-write odometer"></div>
      <span class="description">students wrote</span>
    </li>
    <li>
      <div class="students-passed odometer"></div>
      <span class="description">students passed</span>
    </li>
    <li>
      <div>&nbsp;</div>
      <strong>their matric exams</strong>
    </li>
  </ul>
</div>

