<div class='legend'>
	<table class='legend'>
		<tr>
			<th>Provincial Pass Rates</th>
		</tr>
		<tr id='pass-rate-range-5' />
		<tr id='pass-rate-range-4' />
		<tr id='pass-rate-range-3' />
		<tr id='pass-rate-range-2' />
		<tr id='pass-rate-range-1' />
	</table>
</div>