<div class='legend'>
	<table class='legend'>
		<tr>
			<th colspan='2'>Provincial Pass Rates</th>
		</tr>
		<tr id='quintile-5'>
			<td id='colour-5'>
				Quintile 5
			</td>
		</tr>
		<tr id='quintile-4'>
			<td id='colour-4'>
				Quintile 4
			</td>
		</tr>
		<tr id='quintile-3'>
			<td id='colour-3'>
				Quintile 3
			</td>
		</tr>
		<tr id='quintile-2'>
			<td id='colour-2'>
				Quintile 2
			</td>
		</tr>
		<tr id='quintile-1'>
			<td id='colour-1'>
				Quintile 1
			</td>
		</tr>
	</table>
</div>