<div class='legend'>
	<table class='legend'>
		<tr>
			<!-- <th colspan='2'>Provincial Pass Rates</th> -->
			<th>Provincial Pass Rates</th>
		</tr>
		<tr id='quintile-5'>
			<!-- <td id='colour-5'>
				Pass rate
			</td> -->
		</tr>
		<tr id='quintile-4'>
			<!-- <td id='colour-4'>
				Pass rate
			</td> -->
		</tr>
		<tr id='quintile-3'>
			<!-- <td id='colour-3'>
				Pass rate
			</td> -->
		</tr>
		<tr id='quintile-2'>
			<!-- <td id='colour-2'>
				Pass rate
			</td> -->
		</tr>
		<tr id='quintile-1'>
			<!-- <td id='colour-1'>
				Pass rate
			</td> -->
		</tr>
	</table>
</div>