<div class="edit-school" class="map-canvas">
    
   <form class="form-horizontal", role="form"> 
        <br></br>
        {{#if loginFailed}}
            <div class="form-group", style="color: red">
            <p> Invalid username or password.</p>
            </div>
        {{/if}}

        <table class="school-details">
            <thead>
            <h4 class="school-columns">Login Details</h4>
            </thead>
            <tr>
                <td class="school-columns">Username</td>
                <td class="school-edit-input">
                    <div>{{input valueBinding='username' type="text" size="15" }}</div>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td class="school-columns">Password</td>
                <td class="school-edit-input">
                    <div>{{input valueBinding='password' type="password" size="15"}}</div>
                </td>
            </tr>
            <tr></tr>

            <tr>
                <td></td>
                <td>
                    <button class="school-update-button" {{action 'login'}}>Login</button>
                </td>
            </tr>
        </table>

    </form>
</div>