{{#view Frontend.NavBarView}}
	<div id="navbar-container">
		<p id='logo' class='nav-bar'>State of Education South Africa</p>
		<ul id='navigation' class='nav-bar'>
			{{#link-to 'index'}}Matric Results{{/link-to}}
			<li class="link-separator">|</li>
			{{#link-to 'health'}}Sanitation{{/link-to}}
      <li class="link-separator">|</li>
      {{#link-to 'login'}}Login{{/link-to}}
		</ul>
	</div>
{{/view}}
