{{#view Frontend.NavBarView}}
	<div id="navbar-container">
		<p id='logo' class='nav-bar'>State of Education South Africa</p>
		
		<ul id='navigation' class='nav-bar'>
			{{#link-to 'index'}}Matric Results{{/link-to}}
			<li class="link-separator">|</li>
			{{#link-to 'health'}}Sanitation{{/link-to}}
			<li class="link-separator">|</li>
			{{#link-to 'admin'}}Search Schools{{/link-to}}	
            <li class="link-separator">|</li>
            {{#link-to 'create'}}Create School{{/link-to}}
            <li class="link-separator">|</li>
            {{#link-to 'upload'}}Upload Files{{/link-to}}
            <li class="link-separator">|</li>
            {{#link-to 'login'}} Admin Login{{/link-to}}
		</ul>
	</div>
{{/view}}
