<div id="nav-container" class="nav-bar">

<div class="nav-bar" id="navbar-contents">
	<p id='logo' class='logo'>Jay and Jay Digital Project</p>

	<ul id='navigation' class='nav-bar-ul'>
		{{#link-to ''}}Matric Results{{/link-to}}
		<li class="link-separator">|</li>
		{{#link-to}}Sanitation{{/link-to}}
		<li class="link-separator">|</li>
		{{#link-to 'admin'}}Admin{{/link-to}}
	</ul>
</div>
</div>
