<div class="edit-school" class="map-canvas">
    <table class="school-details">
        <thead>
        <h2>Edit School</h2>
        {{myBoolean}}
        {{# if myBoolean}}
            <h3>Charles testing</h3>

        {{else}}
            <h3>DJ and Greg playing</h3>

        {{/if}}
        </thead>
        <tr>
            <td class="school-detail">
                School Name
            </td>
            <td class="school-name-input">
                <div>
                    DJ
                </div>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td class="school-detail">-->
                <!--School Name-->
            <!--</td>-->
            <!--<td class="school-name-input">-->
                <!--<div>-->
                    <!--{{input valueBinding="" type="text" placeholder="School Name"}}-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
</div>